
body{
    font-family: Inter, Serif;
}
.centered {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
}

.code{
    font-family: "IBM Plex Mono", Serif;!important;
}
