
body{
    font-family: Inter, Serif;
}
.centered {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}

.code{
    font-family: "IBM Plex Mono", Serif;!important;
}

.container{
    padding: 4rem 3rem;

}

.icon{
    height: 40px;
    display: inline;
}

.sidebar{
    width: 300px;
}

@media not all and (min-width: 768px) {
    .sidebar{
        padding: 0!important;
        width: 0vw;
    }

    .content{
        margin-left: 0!important;
    }
}

.content{
    margin-left: 300px;
}
